<!--<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=windows-1251">
<title></title>
</head>

<body>-->
	<center>
	<p style="margin-right: 100px"><b>Уважаемый(-ая) $$$consultantFIO$$$!</b></p>
	<p style="margin-right: 100px"></p></center>
	<p align="justify" style="text-indent: 25px; margin-left:5px; margin-right:100px; margin-top:0; margin-bottom:0">
		<span lang="ru">На ранее предложенную Вами тему проекта <b>&quot;$$$themeName$$$&quot;</b> поступила заявка на осуществление научного консультирования по данной теме.</span></p>
		<p align="justify" style="text-indent: 25px; margin-left:5px; margin-right:100px; margin-top:0; margin-bottom:0">
			&nbsp;</p>
		<p align="justify" style="text-indent: 25px; margin-left:5px; margin-right:100px; margin-top:0; margin-bottom:0">
			<i>Характеристики заявки:</i></p>
		<p align="justify" style="text-indent: 25px; margin-left:30px; margin-right:5px; margin-top:0; margin-bottom:0">
			Информация об учителе - $$$teacherInfo$$$</p>
		<p align="justify" style="text-indent: 25px; margin-left:30px; margin-right:5px; margin-top:0; margin-bottom:0">
			Информация об ученике - $$$childInfo$$$</p>
		<p align="justify" style="text-indent: 25px; margin-left:5px; margin-right:100px; margin-top:0; margin-bottom:0">
			&nbsp;</p>
		<p align="justify" style="text-indent: 25px; margin-left:5px; margin-right:100px; margin-top:0; margin-bottom:0">
			<i>Краткая информация об участниках темы проекта, указанная ими при подаче заявки:</i></i></p>
		<p align="justify" style="text-indent: 25px; margin-left:30px; margin-right:5px; margin-top:0; margin-bottom:0">
			<span lang="ru">Об учителе - $$$teacherInfo1$$$.</span></p>
		<p align="justify" style="text-indent: 25px; margin-left:30px; margin-right:5px; margin-top:0; margin-bottom:0">
			<span lang="ru">Об ученике - $$$childInfo1$$$.</span></p>
		<p align="justify" style="text-indent: 25px; margin-left:5px; margin-right:100px; margin-top:0; margin-bottom:0">
			&nbsp;</p>
<p align="justify" style="text-indent: 25px; margin-left:5px; margin-right:100px; margin-top:0; margin-bottom:0">
			Посмотреть информацию по этой теме, а также рассмотреть поданную заявку вы можете в разделе &quot;Просмотр и ввод информации о ходе исследования&quot; (статус темы - &quot;Направлена на рассмотрение консультанту&quot;).</p>

<p align="justify" style="text-indent: 25px; margin-left:5px; margin-right:100px; margin-top:0; margin-bottom:0">
			&nbsp;</p>
		<p align="justify" style="text-indent: 25px; margin-left:5px; margin-right:100px; margin-top:0; margin-bottom:0">
			<u><i><b>Внимание! Это письмо Вам отправлено автоматически и отвечать на него не нужно!!!</b></i></u></p>