<!--<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=windows-1251">
<title></title>
</head>

<body>-->
	<center>
	<p style="margin-right: 100px"><span><b>Уважаемые $$$teacherFIO$$$, $$$childFIO$$$!</b></p>
	<p style="margin-right: 100px"></p></center>
	<p align="justify" style="text-indent: 25px; margin-left:5px; margin-right:100px; margin-top:0; margin-bottom:0">
Вы подали заявку на осуществление консультирования по теме <b>&quot;$$$themeName$$$&quot;</b>, 
которую предложил(-а) научный консультант <b>$$$consultantFIO$$$</b>.</p>
<p align="justify" style="text-indent: 25px; margin-left:5px; margin-right:100px; margin-top:0; margin-bottom:0">
	Как только научный консультант рассмотрит Вашу заявку, Вы получите на свой адрес электронной почты соответствующее письмо с инструкцией по дальнейшим действиям.</p>
<p align="justify" style="text-indent: 25px; margin-left:5px; margin-right:100px; margin-top:0; margin-bottom:0">
	&nbsp;</p>
<p align="justify" style="text-indent: 25px; margin-left:5px; margin-right:100px; margin-top:0; margin-bottom:0">
	<u><i><b>Внимание! Это письмо Вам отправлено автоматически и отвечать на него не нужно!!!</b></i></u></p>