<!--<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=windows-1251">
<title></title>
</head>

<body>-->
	<center>
	<p style="margin-right: 100px"><span><b>Информация по теме &quot;$$$themeName$$$&quot;</b></span></p>
	<p style="margin-right: 100px"></p></center>
	<p align="justify" style="text-indent: 25px; margin-left:5px; margin-right:100px; margin-top:0; margin-bottom:0">Научный консультант	<b>$$$consultantFIO$$$</b> не дал согласия консультировать Вас по данной теме!</p>
	<p align="justify" style="text-indent: 25px; margin-left:5px; margin-right:100px; margin-top:0; margin-bottom:0"></p>
	<span></span>
	<span></span>
	<p align="justify" style="text-indent: 25px; margin-left:5px; margin-right:100px; margin-top:0; margin-bottom:0"><span>Причина, указанная консультантом - 
	<u><i><b>&quot;$$$causeReject$$$&quot;</b></i></u>.</span></p>
	<p align="justify" style="text-indent: 25px; margin-left:5px; margin-right:100px; margin-top:0; margin-bottom:0">&nbsp;</p>