<!--<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=windows-1251">
<title></title>
</head>

<body>-->
	<center>
	<p style="margin-right: 100px"><span><b>Уважаемый (-ая) $$$userFIO$$$!</b></span></b></p>
	<p style="margin-right: 100px"></p></center>
	<p align="justify" style="text-indent: 25px; margin-left:5px; margin-right:100px; margin-top:0; margin-bottom:0">
	<span lang="ru">Вы зарегистрированы в Самарской 
	научно-образовательной программе конкурсного отбора в Губернаторский 
	реестр творчески одаренной молодежи в сфере науки и техники (Программа ВЗЛЕТ).</span></p>
	<p align="justify" style="text-indent: 25px; margin-left:5px; margin-right:100px; margin-top:0; margin-bottom:0"></p>
	&nbsp;<p style="text-indent: 25px; margin-left: 5px; margin-right: 100px; margin-top: 0; margin-bottom: 0">
Организация - <span lang="en-us">$$$userOrganization$$$</span></p>
<p style="text-indent: 25px; margin-left: 5px; margin-right: 100px; margin-top: 0; margin-bottom: 0">
Подразделение - <span lang="en-us">$$$userSubdivision$$$</span></p>
<p style="text-indent: 25px; margin-left: 5px; margin-right: 100px; margin-top: 0; margin-bottom: 0">
	<br>
	</p>
	<p align="justify" style="text-indent: 25px; margin-left:5px; margin-right:100px; margin-top:0; margin-bottom:0">
	<span>Ваш статус в системе - $$$userStatus$$$</span></p>
	<p align="justify" style="text-indent: 25px; margin-left:5px; margin-right:100px; margin-top:0; margin-bottom:0">
	<span lang="ru">Ваши коды доступа:</span></p>
	<p align="justify" style="text-indent: 25px; margin-left:15px; margin-right:100px; margin-top:0; margin-bottom:0">
	<span>Логин - $$$userLogin$$$</span></p>
	<p align="justify" style="text-indent: 25px; margin-left:15px; margin-right:100px; margin-top:0; margin-bottom:0">
	<span><i><b>Предварительный пароль</b></i> - $$$userPassword$$$</span></p>
<p align="justify" style="text-indent: 25px; margin-left:15px; margin-right:100px; margin-top:0; margin-bottom:0">
	&nbsp;</p>
<p align="justify" style="text-indent: 25px; margin-left:15px; margin-right:100px; margin-top:0; margin-bottom:0">
	&nbsp;</p>
<p align="justify" style="text-indent: 25px; margin-left:5px; margin-right:100px; margin-top:0; margin-bottom:0">
	<span style="font-size: 14pt"><u><i><b>Для полноценной работы с системой 
	&quot;ВЗЛЕТ&quot; требуется подтвердить согласие на обработку персональных данных!</b></i></u>
	</span></p>
<p align="justify" style="text-indent: 25px; margin-left:5px; margin-right:100px; margin-top:0; margin-bottom:0">
	<span style="font-size: 14pt">Для этого перейдите по следующей ссылке
	<span lang="en-us"><a href="http://vzletsamara.ru/confirmation.htm">
	http://vzletsamara.ru/confirmation.htm</a></span></span></p>
<p align="justify" style="text-indent: 25px; margin-left:5px; margin-right:100px; margin-top:0; margin-bottom:0">
	<span style="font-size: 14pt">После того, как подтверждение будет 
	осуществлено, вы получите на свой адрес электронной почты полноценный пароль 
	для работы с системой.</span></p>
	<p class="MsoNormal" style="margin-left:18.0pt;text-align:justify; margin-right:100px"><i>
	<span style="font-size: 12pt">При утрате или несанкционированном распространении кодов доступа необходимо немедленно сообщить об этом 
	администратору Программы ВЗЛЕТ по адресу </span></i>
	<a href="mailto:mvc@vzletsamara.ru"><i>mvc@vzletsamara.ru</i></a></p>
	<p align="justify" style="text-indent: 25px; margin-left:5px; margin-right:100px; margin-top:0; margin-bottom:0">
	<span lang="ru">Адрес сайта Программы </span>
	<a href="http://www.vzletsamara.ru">www.vzletsamara.ru</a></p>
	