<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=windows-1251">
<title></title>
</head>

<body>
	<center><span><b>Уважаемый $$$teacherFIO$$$!</b></span></b></p></center>
	<p align="justify" style="text-indent: 25px; margin: 0 5px">
	&nbsp;</p>
	<p align="justify" style="text-indent: 25px; margin: 0 5px">
	<b>$$$consultantFIO$$$</b><span lang="ru"> - <i>$$$degree$$$, $$$academicDirection$$$, $$$post$$$, $$$subdivision$$$, $$$organization$$$</i> дал согласие участвовать в качестве научного консультанта в предложенном Вами проекте:</span></p>
	<p align="justify" style="text-indent: 25px; margin: 0 30px; "><b>
	Направление (тема) заявки на консультирование</b> - &quot;$$$teacherTheme$$$&quot;;</p>
	<p align="justify" style="text-indent: 25px; margin: 0 30px; "><b>Краткий комментарий</b> - &quot;$$$themeComment$$$&quot;;</p>
	<p align="justify" style="text-indent: 25px; margin: 0 5px">&nbsp;</p><p align="justify" style="text-indent: 25px; margin: 0 5px"><b>Краткая информация об учителе</b> - &quot;$$$aboutTeacher$$$&quot;;</p>
	<p align="justify" style="text-indent: 25px; margin: 0 5px"><b>Краткая информация об ученике</b> - &quot;$$$aboutChild$$$&quot;;</p>
	<p align="justify" style="text-indent: 25px; margin: 0 5px">&nbsp;</p>
	<p align="justify" style="text-indent: 25px; margin: 0 5px">Проект включен в тематику исследований, выполняемых в научно-образовательной программе &quot;ВЗЛЕТ&quot; под названием <b>&quot;$$$newThemeName$$$&quot;</b>, которое дал консультант.	Статус темы проекта - <b>&quot;Выполняемая&quot;</b>.</p>
	<p align="justify" style="text-indent: 25px; margin: 0 5px">Свяжитесь с консультантом по электронной почте <b><a href="mailto:$$$consultantEMail$$$">$$$consultantEMail$$$</a></b> и приступайте к совместной работе над проектом.</p>
	<p align="justify" style="text-indent: 25px; margin: 0 5px">&nbsp;</p>
	<p align="justify" style="text-indent: 25px; margin: 0 5px">Желаем успехов!</p>
</body>

</html>
