<!--<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=windows-1251">
<title></title>
</head>

<body>-->
	<center>
	<p style="margin-right: 100px"><font face="Tahoma" style="font-size: 14pt"><span><b>Уважаемый (-ая) $$$userFIO$$$!</b></span></b></font></p></center>
	<p style="margin-right: 30px; margin-left:30px" align="justify">
	<span lang="en-us"><font face="Tahoma">$$$message$$$</font></span></p>
	<center>
	<p style="margin-right: 30px; margin-left:30px">&nbsp;</p>
	<p style="margin-right: 30px; margin-left:30px"></p></center>
<p class="MsoNormal" style="margin-left:30px;text-align:justify; margin-right:30px">
<font face="Tahoma" style="font-size: 14pt"><u><b><i>ВНИМАНИЕ!!! Данное письмо 
было отправлено Вам автоматически и отвечать на него не нужно!</i></b></u></font></p>
<p class="MsoNormal" style="margin-left:30px;text-align:justify; margin-right:30px">
<font face="Tahoma"><i>
	<span style="font-size: 12pt">При утрате или несанкционированном распространении кодов доступа необходимо немедленно сообщить об этом в Межвузовский центр Программы ВЗЛЕТ по адресу </span></i>
<a href="mailto:mvc@vzletsamara.ru"><i>mvc@vzletsamara.ru</i></a></font></p>