<!--<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=windows-1251">
<title></title>
</head>

<body>-->
	<center><b>Информация по теме &quot;$$$themeName$$$&quot;</b></center>
	<p align="justify" style="text-indent: 25px; margin: 0 5px">&nbsp;</p>
	<p align="justify" style="text-indent: 25px; margin: 0 5px">
	Научный консультант дал согласие участвовать в этом проекте.</p>
	<p align="justify" style="text-indent: 25px; margin: 0 5px">&nbsp;</p>
	<p align="justify" style="text-indent: 25px; margin: 0 5px">Список участников проекта:</p>
	<p align="justify" style="text-indent: 25px; margin-left:30px; margin-right:5px; margin-top:0; margin-bottom:0">Автор проекта - <b>$$$childFIO$$$</b> ($$$childOrganization$$$, $$$childSubdivision$$$, $$$childPost$$$);</p>
	<p align="justify" style="text-indent: 25px; margin-left:30px; margin-right:5px; margin-top:0; margin-bottom:0">Руководитель проекта - <b>$$$teacherFIO$$$</b> ($$$teacherOrganization$$$, $$$teacherSubdivision$$$, $$$teacherPost$$$);</p>
	<p align="justify" style="text-indent: 25px; margin-left:30px; margin-right:5px; margin-top:0; margin-bottom:0">Научный консультант проекта - <b>$$$consultantFIO$$$ </b>($$$consultantOrganization$$$, $$$consultantSubdivision$$$).</p>
	<p align="justify" style="text-indent: 25px; margin: 0 5px">&nbsp;</p>
	<p align="justify" style="text-indent: 25px; margin: 0 5px">Рекомендуем связаться с консультантом и обсудить организацию взаимодействия по адресу электронной почты <b><a href="mailto:$$$consultantEMail$$$">$$$consultantEMail$$$</a></b></p>
	<p align="justify" style="text-indent: 25px; margin: 0 5px">&nbsp;</p>
	</span>
	<p align="justify" style="text-indent: 25px; margin: 0 5px"><i>Информацию по текущему проекту можно увидеть в разделе &quot;<b><a href="http://vzletsamara.ru/viewEnter.htm">Просмотр и ввод информации о ходе исследования</a></b>&quot;.</i></p>
	<p align="justify" style="text-indent: 25px; margin: 0 5px">&nbsp;</p>
	<p align="justify" style="text-indent: 25px; margin: 0 5px">
	<b>Желаем успехов!</b></p>
	<p align="justify" style="text-indent: 25px; margin: 0 5px"><i><font size="2">Межвузовский центр Программы ВЗЛЕТ (<a href="mailto:mvc@vzletsamara.ru">mvc@vzletsamara.ru</a>).</font></i></p>
