<!--<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=windows-1251">
<title></title>
</head>

<body>-->
	<center>
	<p style="margin-right: 100px"><span><b>Уважаемый (-ая) $$$userFIO$$$!</b></span></b></p>
	<p style="margin-right: 100px"></p></center>
	<p align="justify" style="text-indent: 25px; margin-left:5px; margin-right:100px; margin-top:0; margin-bottom:0">
	<span lang="ru">Вы запросили восстановление своих кодов доступа к системе 
	&quot;ВЗЛЕТ&quot;.</span></p>
	<p align="justify" style="text-indent: 25px; margin-left:5px; margin-right:100px; margin-top:0; margin-bottom:0"></p>
	<p class="MsoNormal" style="margin-left:50px;text-align:justify; margin-right:100px">
	<i>$$$message$$$</i></p>
<p class="MsoNormal" style="margin-left:18.0pt;text-align:justify; margin-right:100px">
<i>
	<span style="font-size: 12pt">При утрате или несанкционированном распространении кодов доступа необходимо немедленно сообщить об этом в Межвузовский центр Программы ВЗЛЕТ по адресу </span></i>
<a href="mailto:mvc@vzletsamara.ru"><i>mvc@vzletsamara.ru</i></a></p>
	<p align="justify" style="text-indent: 25px; margin-left:5px; margin-right:100px; margin-top:0; margin-bottom:0">
	<span lang="ru">Адрес сайта Программы </span>
	<a href="http://www.vzletsamara.ru">www.vzletsamara.ru</a></p>